<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{ /main.css }">
  <title>Title</title>
</head>
<body>
<div class="container">
  <div class="container-inner">
    Hello and welcome back,
    <span th:text="${user.firstName}"></span>
    <span th:text="${user.lastName}"></span>
    (<span th:text="${user.email}"></span>)!
    <p>
      <a th:href="@{ /logout }">Logout</a>
    </p>
  </div>
</div>
</body>
</html>