<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{ /main.css }">
  <title>Title</title>
</head>
<body>
<div class="container">
  <div class="container-inner">
    Hello and welcome back,
    <span sec:authentication="principal.firstName"></span>
    <span sec:authentication="principal.lastName"></span>
    (<span sec:authentication="principal.email"></span>)!
    <p>
      <a th:href="@{ /logout }">Logout</a>
    </p>
  </div>
</div>
</body>
</html>