<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<body>
    <div th:fragment="login-info">
        <div class="login-info">Logged in as <b><span
                th:text="${user.username} ?: ${user.email}"></span></b></div>
        <div th:unless="${disable2FAWarning}">
            <h2 th:if="${user.use2FA}">Two-factor authentication is ON, well done!</h2>
            <h2 th:unless="${user.use2FA}">Consider enabling two-factor authentication.</h2>
        </div>
    </div>
</body>
