<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<body>
<div class="col" th:fragment="menu">
    <a th:href="@{ / }" class="menu btn">
        <i class="fa fa-email fa-fw"></i> Home
    </a>
    <a th:if="${user.username}" th:href="@{ /users/{username}(username=${user.username}) }"
       class="menu btn">
        <i class="fa fa-email fa-fw"></i> My Details
    </a>
    <a th:if="${user.isAdmin}" th:href="@{ /users }" class="menu btn">
        <i class="fa fa-email fa-fw"></i> All Users
    </a>
    <a th:if="${enable2FA}" th:href="@{ /2fa/setup }" class="menu btn">
        <i class="fa fa-email fa-fw"></i> Enable 2FA
    </a>
    <a th:href="@{ /logout }" class="menu btn">
        <i class="fa fa-email fa-fw"></i> Logout
    </a>
</div>
</body>
