<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<body>
<div th:fragment="user-details">
    <fieldset>
        <legend>
            <span th:text="${user.username} ?: 'UNDEFINED'"></span>
        </legend>
        <label for="firstName">First name:</label>
        <input type="text" id="firstName" th:value="${user.firstName} ?: 'UNDEFINED'" readonly>
        <label for="lastName">Last name:</label>
        <input type="text" id="lastName" th:value="${user.lastName} ?: 'UNDEFINED'" readonly>
        <label for="email">Email:</label>
        <input type="text" id="email" th:value="${user.email} ?: 'UNDEFINED'" readonly>
        <label for="userRole">Role:</label>
        <input type="text" id="userRole" th:value="${user.userRole} ?: 'UNDEFINED'" readonly>
    </fieldset>
</div>
</body>
