<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{ /main.css }">
  <title>2FA Setup</title>
</head>
<body>
<div class="container">
  <form th:action="@{ /login/code }" method="post">
    <div class="row">
      <h2>Second Factor Required</h2>

      <div class="col-full">
        <label for="code">Six-digit code from the Authenticator App</label>
        <input type="text" id="code" name="code" placeholder="123456" required>
        <input type="submit" value="Verify">
      </div>
    </div>
  </form>
</div>
</body>
</html>
