<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{ /main.css }">
  <title>2FA Setup</title>
</head>
<body>
<div class="container">
  <form th:action="@{ /2fa/setup }" method="post">
    <div class="row">
      <div th:insert="fragments/login-info :: login-info"></div>
      <h2>Confirm 2FA Setup</h2>

      <div th:if="${error}" class="alert">
        Code invalid. Please try again.
      </div>

      <div class="col-full">
        <label for="code">Six-digit code from the Authenticator App</label>
        <input type="text" id="code" name="code" placeholder="123456" required>
        <input type="submit" value="Enable 2FA">
      </div>
    </div>
  </form>
</div>
</body>
</html>
