<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{ /main.css }">
  <title>2FA Setup</title>
</head>
<body>
<div class="container">
  <div th:insert="fragments/login-info :: login-info"></div>
  <form th:action="@{ /2fa/setup/confirm }" method="get">
    <div class="container-inner">
      <h2>Enable Two-Factor Authentication</h2>
        <p>
          Scan the QR below using Google Authenticator app on your phone or tablet. Confirm by pressing "Next" once done.
        </p>
        <div class="col-full">
          <img th:src="${qrCode}" />
        </div>
        <input type="submit" value="Next">
    </div>
  </form>
</div>
</body>
</html>
