<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{ /main.css }">
  <title>Change Email</title>
</head>
<body>
<div class="container">

  <div th:if="${error}" class="alert">
    <span th:text="${error}"></span>
  </div>

  <form th:action="@{ /avatar/change }" method="post">
    <div class="row">
      <h2>Change Your Avatar</h2>

      <div class="col-full">
        <label for="avatar">Your new avatar</label>
        <input type="text" id="avatar" name="avatar" placeholder="https://imgur.com/gallery/2hAvBZG" required>
        <input type="submit" value="Save">
      </div>
    </div>
  </form>
</div>
</body>
</html>
