<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{ /main.css }">
  <title>Change Email</title>
</head>
<body>
<div class="container">
  <form th:action="@{ /email/change }" method="post">
    <div class="row">
      <h2>Change Your Email Address</h2>

      <div class="col-full">
        <label for="current-email">Your existing email</label>
        <input type="text" id="current-email" readonly th:value="${user.email}" required>
        <label for="email">Your new email</label>
        <input type="text" id="email" name="email" placeholder="Please enter your new email" required>
        <input type="submit" value="Change your email">
      </div>
    </div>
  </form>
</div>
</body>
</html>
