<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{ /main.css }">
  <title>Login</title>
</head>
<body>
<div class="container">
  <form th:action="@{ /login }" method="post">
    <div class="row">
      <h2>Login with Social Media or Manually</h2>

      <div th:if="${param.error}" class="alert">
        Login failed.
      </div>

      <div class="vl">
        <span class="vl-innertext">or</span>
      </div>

      <div class="col">
        <a th:href="@{ /oauth2/authorization/facebook }" class="fb btn">
          <i class="fa fa-facebook fa-fw"></i> Login with Facebook
        </a>
        <a th:href="@{ /oauth2/authorization/google }" class="google btn"><i class="fa fa-google fa-fw">
        </i> Login with Google
        </a>
        <a th:href="@{ /login/email }" class="email btn"><i class="fa fa-email fa-fw">
        </i> Password-less login via email
        </a>
      </div>

      <div class="col">
        <div class="hide-md-lg">
          <p>Or sign in manually:</p>
        </div>

        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Login">
      </div>

    </div>
  </form>
</div>
<div class="bottom-container">
  <div class="row">
    <div class="col">
      <a href="#" style="color:white" class="btn">Sign up</a>
    </div>
    <div class="col">
      <a href="#" style="color:white" class="btn">Forgot password?</a>
    </div>
  </div>
</div>
</body>
</html>
<!-- Credit: https://www.w3schools.com/howto/howto_css_social_login.asp -->