<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{ /main.css }">
  <title>Login by Email</title>
</head>
<body>
<div class="container">
  <form th:action="@{ /login/email }" method="post">
    <div class="row">
      <h2>Login with Your Email Address</h2>

      <div th:if="${param.error}" class="alert">
        Login failed.
      </div>

      <div class="col-full">
        <input type="text" name="email" placeholder="Please enter your email" required>
        <input type="submit" value="Send a magic link">
      </div>
    </div>
  </form>
</div>
</body>
</html>
