<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{ /main.css }">
  <title>Login by Email Sent</title>
</head>
<body>
<div class="container">
  <p>Thank you. A link has been sent to <span th:text="${email}"></span></p>
</div>
</body>
</html>
