<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{ /main.css }">
    <title>User Overview</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div th:insert="fragments/login-info :: login-info"></div>
        <div th:insert="fragments/menu :: menu"></div>

        <div class="col">
            <div th:each="user: ${users}">
                <div th:insert="fragments/user-details :: user-details"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>